In [29]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("C:\\Users\\vyushmanov\\OneDrive\\EDUCATION\\2020-04-15 Data Science\\skillfactory_rds\\module_1"))

['.ipynb_checkpoints', 'data.csv', 'FinalReport_mod1_vyushmanov.ipynb']

In [6]:
data = pd.read_csv('C:\\Users\\vyushmanov\\OneDrive\\EDUCATION\\2020-04-15 Data Science\\skillfactory_rds\\module_1\\data.csv')

In [7]:
len(data)

1890

# Предобработка датасета

In [8]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

data['profit']             = data.apply(lambda x: x['revenue'] - x['budget'], axis = 1)
data['cast_lst']           = data['cast'].apply(lambda x: x.split('|'))
data['director_lst']       = data['director'].apply(lambda x: x.split('|'))
data['genres_lst']         = data['genres'].apply(lambda x: x.split('|'))
data['prod_companies_lst'] = data['production_companies'].apply(lambda x: x.split('|'))

data['release_month'] = data['release_date'].apply(lambda x: int(x[:re.search(r'/\d+', x).start()]))
data['sesons'] = data['release_month'].apply(lambda x: 'winter' if x<=2 or x==12 else 
                                                     'spring' if x<=5 else 
                                                     'summer' if x<=8 else
                                                     'autumn')

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [9]:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [10]:
data[data['runtime'] == data['runtime'].max()][['original_title', 'imdb_id', 'runtime']]
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [11]:
data[data['runtime'] == data['runtime'].min()][['original_title', 'imdb_id', 'runtime']]
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [12]:
data['runtime'].mean()
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
import statistics as st

st.median(data['runtime'])
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [14]:
data[data['profit'] == data['profit'].max()][['original_title', 'imdb_id', 'profit']]
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [15]:
data[data['profit'] == data['profit'].min()][['original_title', 'imdb_id', 'profit']]
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [16]:
data[data['profit'] > 0].index.nunique()
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [17]:
data9 = data[data['release_year'] == 2008]
data9 = data9[['original_title', 'profit']].sort_values(by='profit', ascending=False)['original_title']
pd.Series(data9)[:1]
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [18]:
data10 = data[(data['release_year'] >= 2012)&(data['release_year'] <=2014)]
data10 = data10[['original_title', 'profit']].sort_values(by='profit', ascending=True)['original_title']
pd.Series(data10)[:1]
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [19]:
genres_list = data.genres_lst.sum()
pd.Series(genres_list).value_counts()[:1]
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [20]:
genres_list = data[data['profit'] > 0].genres_lst.sum()
pd.Series(genres_list).value_counts()[:1]
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [21]:
director_list = data.director_lst.sum()
pd.Series(director_list).value_counts()[:1]
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [22]:
director_list = data[data['profit'] > 0].director_lst.sum()
pd.Series(director_list).value_counts()[:1]
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [23]:
list_q = ['Steven Spielberg', 'Christopher Nolan', 'David Yates', 'James Cameron', 'Peter Jackson']
dir_profit = []
for dr in list_q:
    res = data[data['director'].str.contains (dr, na=False)]['profit'].sum()
    dir_profit.append(res)
data_q = pd.DataFrame({'director': list_q, 'dir_profit': dir_profit}).sort_values('dir_profit', ascending=False)
data_q.iloc[0]
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [24]:
list_q = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
cast_profit = []
for cs in list_q:
    res = data[data['cast'].str.contains (cs, na=False)]['profit'].sum()
    cast_profit.append(res)
data_q = pd.DataFrame({'cast': list_q, 'cast_profit': cast_profit}).sort_values('cast_profit', ascending=False)
data_q.iloc[0]
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [25]:
list_q = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
cast_profit = []
for cs in list_q:
    res = data[(data['cast'].str.contains (cs, na=False))&(data['release_year'] == 2012)]['profit'].sum()
    cast_profit.append(res)
data_q = pd.DataFrame({'cast': list_q, 'cast_profit': cast_profit}).sort_values('cast_profit', ascending=True)
data_q.iloc[0]
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [30]:
list_q = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
cast_list = data[data['budget'] > data['budget'].mean()].cast_lst.sum()
c = collections.Counter()
for cast in cast_list:
    if cast in list_q:
        c[cast] += 1
Counter(c).most_common(1)[0]
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [31]:
genres_list = data[data['cast'].str.contains ('Nicolas Cage', na=False)].genres_lst.sum()
c = collections.Counter()
for g in genres_list:
    c[g] += 1
Counter(c).most_common(1)[0]
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [32]:
list_q = [
    'Universal Pictures', 
    'Paramount Pictures', 
    'Columbia Pictures', 
    'Warner Bros.', 
    'Twentieth Century Fox Film Corporation'
    ]
prod_list = data.prod_companies_lst.sum()
c = collections.Counter()
for prod in prod_list:
    if prod in list_q:
        c[prod] += 1
Counter(c).most_common(1)[0]
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [33]:
list_q = [
    'Universal Pictures', 
    'Paramount Pictures', 
    'Columbia Pictures', 
    'Warner Bros.', 
    'Twentieth Century Fox Film Corporation'
    ]
prod_list = data[data['release_year'] == 2015].prod_companies_lst.sum()
c = collections.Counter()
for prod in prod_list:
    if prod in list_q:
        c[prod] += 1
Counter(c).most_common(1)[0]
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [34]:
list_q = [
    'Warner Bros.', 
    'Universal Pictures', 
    'Columbia Pictures', 
    'Paramount Pictures', 
    'Walt Disney'
    ]
prod_list = data[data['genres'].str.contains ('Comedy', na=False)].prod_companies_lst.sum()
c = collections.Counter()
for prod in prod_list:
    if prod in list_q:
        c[prod] += 1
Counter(c).most_common(1)[0]
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [35]:
list_q = [
    'Universal Pictures', 
    'Warner Bros.', 
    'Columbia Pictures', 
    'Paramount Pictures', 
    'Lucasfilm'
    ]
prod_profit = []
for prod in list_q:
    res = data[(data['production_companies'].str.contains (prod, na=False))&(data['release_year'] == 2012)]['profit'].sum()
    prod_profit.append(res)
data23 = pd.DataFrame({'cast': list_q, 'prod_profit': prod_profit}).sort_values('prod_profit', ascending=False)
data23.iloc[0]
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [36]:
data24 = data[data['production_companies'].str.contains ('Paramount Pictures', na=False)].sort_values('profit')
print(data24.iloc[0]['original_title'], data24.iloc[0]['imdb_id'])
answer_ls.append(1)

K-19: The Widowmaker tt0267626

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [37]:
list_q = [2014, 2008, 2012, 2002, 2015]
year_revenue = []
for y in list_q:
    res = data[data['release_year'] == y]['revenue'].sum()
    year_revenue.append(res)
data_q = pd.DataFrame({'release_year': list_q, 'year_revenue': year_revenue}).sort_values('year_revenue', ascending=False)
data_q.iloc[0]
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [38]:
list_q = [2014, 2008, 2012, 2010, 2015]
year_revenue = []
for y in list_q:
    res = data[(data['release_year'] == y)&(data['production_companies'].str.contains ('Warner Bros.', na=False))]['revenue'].sum()
    year_revenue.append(res)
data_q = pd.DataFrame({'release_year': list_q, 'year_revenue': year_revenue}).sort_values('year_revenue', ascending=False)
data_q.iloc[0]
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [39]:
month_list = list(data['release_month'])
list_q = [1, 7, 12, 9, 5]
c = collections.Counter()
for m in month_list:
    if m in list_q:
        c[m] += 1
Counter(c).most_common(1)[0]
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [40]:
len(data[data['sesons'] == 'summer'])
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [41]:
director_list = data[data['sesons'] == 'winter'].director_lst.sum()
pd.Series(director_list).value_counts()[:1]
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [42]:
data30 = data.pivot_table(values=['profit'],
    index=['release_year'],
    columns=['release_month'],
    aggfunc='sum').reset_index()

np_q = data30.to_numpy()
list_ans = list(np_q.argmax(axis=1))

c = collections.Counter()
for m in list_ans:
    c[m] += 1
collections.Counter(c).most_common(1)[0]
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [43]:
list_q = ['Universal Pictures', 'Warner Bros', 'Jim Henson Company', 'Paramount Pictures', 'Four By Two Productions']
data['len_title'] = data['original_title'].apply(lambda x: len(x))
avg_len_title = []
for y in list_q:
    res = data[data['production_companies'].str.contains (y, na=False)]['len_title'].mean()
    avg_len_title.append(res)
data_q = pd.DataFrame({'prod': list_q, 'avg_len_title': avg_len_title}).sort_values('avg_len_title', ascending=False)
data_q.iloc[0]
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [44]:
list_q = ['Universal Pictures', 'Warner Bros', 'Jim Henson Company, The', 'Paramount Pictures', 'Four By Two Productions']
pattern = re.compile('[\w\d]+\W*')
data['word_title'] = data['original_title'].apply(lambda x: len(pattern.findall(x)))
avg_word_title = []
for y in list_q:
    res = data[data['production_companies'].str.contains (y, na=False)]['word_title'].mean()
    avg_word_title.append(res)
data_q = pd.DataFrame({'prod': list_q, 'avg_word_title': avg_word_title}).sort_values('avg_word_title', ascending=False)
data_q.iloc[0]
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [46]:
data['original_title'] = data['original_title'].apply(lambda x: x.lower())
data['word_title'] = data['original_title'].apply(lambda x: x.split(' '))
list_33 = data['word_title'].sum()
pd.Series(list_33).nunique()
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [47]:
dict_q = [['Inside Out', 'Gone Girl', '12 Years a Slave'], 
          ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'], 
          ['The Lord of the Rings: The Return of the King', 'Upside Down'], 
          ['300', 'Lucky Number Slevin'],
          ['Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King']]
data34 = data.sort_values(['vote_average', 'vote_count'], ascending=[False, False])
data34 = data34[:int((len(data34)*0.01))+1]
list_answer = list(data34['original_title'])
for i in dict_q:
    flag = False
    for j in i:
        if j in list_answer:
            flag = True
        else: 
            flag = False
            break
    print(i, flag)
answer_ls.append(1)

['Inside Out', 'Gone Girl', '12 Years a Slave'] False
['BloodRayne', 'The Adventures of Rocky & Bullwinkle'] False
['The Lord of the Rings: The Return of the King', 'Upside Down'] False
['300', 'Lucky Number Slevin'] False
['Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King'] False

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [48]:
data35 = pd.DataFrame()
dict_q = [['Johnny Depp', 'Helena Bonham Carter'],
          ['Hugh Jackman',  'Ian McKellen'],
          ['Vin Diesel',  'Paul Walker'],
          ['Adam Sandler',  'Kevin James'],
          ['Daniel Radcliffe',  'Rupert Grint']]
for i in dict_q:
    temp = data.loc[(data['cast'].str.contains (i[0], na=False))&(data['cast'].str.contains (i[1], na=False))]
    temp['duble'] = str(i)
    data35 = pd.concat([data35, temp], sort = False)
double_list = list(data35['duble'])
c = collections.Counter()
for g in double_list:
    c[g] += 1
Counter(c).most_common(1)[0]
answer_ls.append(5)

C:\Users\vyushmanov\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [49]:
list_q = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
data['profitable'] = data['profit'].apply(lambda x: True if x > 0 else False)
director_ = []
profitable = []
for i in list_q:
    a = len(data[(data['profitable'] == True)&(data['director'].str.contains(i, na=False))])
    b = len(data[data['director'].str.contains(i, na=False)])
    director_.append(i)
    profitable.append(a/b) 
data36 = pd.DataFrame({'director': director_, 'profitable': profitable}).sort_values(by='profitable', ascending=False)
data36.iloc[0]
answer_ls.append(4)

# Submission

In [50]:
len(answer_ls)

36

In [51]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4