In [63]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import statistics as st
from datetime import datetime
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from dateutil.parser import parse

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
30,tt1823672,49000000,102069268,Chappie,Sharlto Copley|Dev Patel|Ninja|Yolandi Visser|...,Neill Blomkamp,I am consciousness. I am alive. I am Chappie.,Every child comes into the world full of promi...,120,Crime|Action|Science Fiction,Columbia Pictures|Media Rights Capital|Sony Pi...,3/4/2015,6.6,2015
1423,tt0410097,8000000,22201636,Hustle & Flow,Terrence Howard|Anthony Anderson|Taryn Manning...,Craig Brewer,The music will inspire them. The dream will un...,"With help from his friends, a Memphis pimp in ...",116,Drama,MTV Films,7/22/2005,6.2,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit']             = data.apply(lambda x: x['revenue'] - x['budget'], axis = 1)
data['cast_lst']           = data['cast'].apply(lambda x: list(set(x.split('|'))))
data['director_lst']       = data['director'].apply(lambda x: x.split('|'))
data['genres_lst']         = data['genres'].apply(lambda x: x.split('|'))
data['prod_companies_lst'] = data['production_companies'].apply(lambda x: x.split('|'))

data['release_date']      = data['release_date'].apply(lambda x: parse(x))
data['release_month']     = data['release_date'].apply(lambda x: x.month)

# data['release_month'] = data['release_date'].apply(lambda x: int(x[:re.search(r'/\d+', x).start()]))
data['sesons'] = data['release_month'].apply(lambda x: 'winter' if x<=2 or x==12 else 
                                                     'spring' if x<=5 else 
                                                     'summer' if x<=8 else
                                                     'autumn')

def answer_movie(db):
    return db.iloc[0][0] + ' (' + db.iloc[0][1] + ')'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '4. ' + ans1
# "+"

In [5]:
data1 = data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]
ans1 = answer_movie(data1) 
ans1

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. ' + ans2

In [7]:
data2 = data[data['runtime'] == data['runtime'].max()][['original_title', 'imdb_id', 'runtime']]
ans2 = answer_movie(data2) 
ans2

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. ' + ans3

In [9]:
data3 = data[data['runtime'] == data['runtime'].min()][['original_title', 'imdb_id', 'runtime']]
ans3 = answer_movie(data3) 
ans3

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. ' + str(int(round(ans4, 0)))

In [11]:
ans4 = data['runtime'].mean()
ans4

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. ' + str(int(ans5))

In [13]:
ans5 = st.median(data['runtime'])
ans5

107

In [15]:
ans5 = data.describe()['runtime']['50%']
ans5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. ' + ans6

In [16]:
data6 = data[data['profit'] == data['profit'].max()][['original_title', 'imdb_id', 'profit']]
ans6 = answer_movie(data6)
ans6

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. ' + ans7

In [18]:
data7 = data[data['profit'] == data['profit'].min()][['original_title', 'imdb_id', 'profit']]
ans7 = answer_movie(data7)
ans7

'The Lone Ranger (tt1210819)'

In [20]:
data7 = data[['original_title', 'imdb_id', 'profit']].sort_values(by='profit', ascending=True)
data7[:4]

                    original_title    imdb_id     profit
1245               The Lone Ranger  tt1210819 -165710090
1616                     The Alamo  tt0318974 -119180039
809                Mars Needs Moms  tt1305591 -111007242
958   The Adventures of Pluto Nash  tt0180052  -92896027

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1. ' + str(ans8)

In [21]:
ans8 = data[data['profit'] > 0].index.nunique()
ans8

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '4. ' + ans9_2

In [23]:
data9 = data[data['release_year'] == 2008]
data9_1 = data9[['original_title', 'imdb_id', 'profit']].sort_values(by='profit', ascending=False)
ans9_1 = answer_movie(data9_1)
print(f'Самый прибыльный фильм {ans9_1} (profit = {data9_1.iloc[0][2]})')
data9_2 = data9[['original_title', 'imdb_id', 'revenue']].sort_values(by='revenue', ascending=False)
ans9_2 = answer_movie(data9_2)
print(f'Самый кассовый фильм {ans9_2} (revenue = {data9_2.iloc[0][2]})')

Самый прибыльный фильм The Dark Knight (tt0468569) (profit = 816921825)
Самый кассовый фильм The Dark Knight (tt0468569) (revenue = 1001921825)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '5. ' + ans10

In [25]:
data10 = data[(data['release_year'] >= 2012)&(data['release_year'] <=2014)]
data10 = data10[['original_title', 'imdb_id', 'profit']].sort_values(by='profit', ascending=True)
ans10 = answer_movie(data10)
ans10

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. ' + ans11

In [27]:
genres_list11 = data.genres_lst.sum()
c = Counter()
for genres in genres_list11:
    c[genres] += 1
ans11 = Counter(c).most_common(1)[0][0]
ans11

'Drama'

ВАРИАНТ 2

In [29]:
genres_list11 = data.genres_lst.sum()
ans11 = pd.Series(genres_list11).value_counts().keys()[0]
ans11

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = '1. ' + ans12

In [30]:
genres_list12 = data[data['profit'] > 0].genres_lst.sum()
ans12 = pd.Series(genres_list12).value_counts().keys()[0]
ans12

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = '5. ' + ans13

In [32]:
directors_list = list(set(data['director_lst'].sum()))
director_profit = []
for dr in directors_list:
    res = data[data['director'].str.contains(dr, na=False)]['profit'].sum()
    director_profit.append(res)
data13 = pd.DataFrame({'director': directors_list, 'dir_profit': director_profit}).sort_values('dir_profit', ascending=False)
ans13 = data13.iloc[0][0]
ans13

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = '3. ' + ans14

In [34]:
directors_list = list(set(data['director_lst'].sum()))
data_genre_action = data[data['genres'].str.contains('Action', na=False)]
director_action = []
for dr in directors_list:
    res = data_genre_action[data_genre_action['director'].str.contains(dr, na=False)]['genres'].count()
    director_action.append(res)
data14 = pd.DataFrame({'director': directors_list, 'action_count': director_action}).sort_values('action_count', ascending=False)
ans14 = data14.iloc[0][0]
ans14

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = '3. ' + ans15

In [36]:
cast_list = list(set(data['cast_lst'].sum()))
cast_revenue = []
for cs in cast_list:
    res = data[(data['cast'].str.contains(cs, na=False)) 
              & (data['release_year'] == 2012)]['revenue'].sum()
    cast_revenue.append(res)
data15 = pd.DataFrame({'director': cast_list, 'cast_revenue': cast_revenue}).sort_values('cast_revenue', ascending=False)
ans15 = data15.iloc[0][0]
ans15

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = '3. ' + ans16

In [38]:
cast_list = list(set(data['cast_lst'].sum()))
cast_revenue = []
for cs in cast_list:
    res = data[(data['cast'].str.contains(cs, na=False)) 
              & (data['budget'] > data['budget'].mean())]['revenue'].count()
    cast_revenue.append(res)
data16 = pd.DataFrame({'director': cast_list, 'cast_revenue': cast_revenue}).sort_values('cast_revenue', ascending=False)
ans16 = data16.iloc[0][0]
ans16

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = '2. ' + ans17

In [40]:
genres_list17 = data[data['cast'].str.contains ('Nicolas Cage', na=False)].genres_lst.sum()
c = Counter()
for g in genres_list17:
    c[g] += 1
ans17 = Counter(c).most_common(1)[0][0]
ans17

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = '1. ' + ans18

In [42]:
data18 = data[data['production_companies'].str.contains('Paramount Pictures', na=False)]
data18 = data18[['original_title', 'imdb_id', 'profit']].sort_values(by='profit', ascending=True)
ans18 = answer_movie(data18)
ans18

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '5. ' + str(ans19)

In [44]:
data19 = data.pivot_table(values=['profit'],
    index=['release_year'],
    aggfunc='sum')
data19 = data19.sort_values('profit', ascending=False)
ans19 = data19.index[0]
ans19

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '1. ' + str(ans20)

In [46]:
data20 = data[data['production_companies'].str.contains('Warner Bros', na=False)].pivot_table(values=['profit'],
    index=['release_year'],
    aggfunc='sum')
ans20 = data20.sort_values('profit', ascending=False).index[0]
ans20

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = '4. ' + ans21

In [48]:
data21 = data.pivot_table(values=['profit'],
    index=['release_month'],
    aggfunc='count')
ans21 = data21.sort_values('profit', ascending=False).index[0]
dt = datetime(2019, ans21, 5)
ans21 = dt.strftime('%B')
ans21

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '2. ' + str(ans22)

In [50]:
ans22 = data[data['sesons'] == 'summer']['imdb_id'].count()
ans22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23'] = '5. ' + ans23

In [52]:
directors_list23 = data[data['sesons'] == 'winter'].director_lst.sum()
ans23 = pd.Series(directors_list23).value_counts().keys()[0]
ans23

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = '5. ' + ans24

In [54]:
prod_comp_list = list(set(data['prod_companies_lst'].sum()))
data['orig_title_len'] = data['original_title'].apply(lambda x: len(x))
len_mean = []
for prod in prod_comp_list:
    mean_ = data[data['production_companies'].str.contains(prod, na=False)]['orig_title_len'].mean()
    len_mean.append(mean_)
data24 = pd.DataFrame({'prod': prod_comp_list, 'len': len_mean}).sort_values('len', ascending=False)
ans24 = data24.iloc[0][0]
ans24

C:\Users\vyushmanov\Anaconda3\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = '3. ' + ans25

In [56]:
prod_comp_list = list(set(data['prod_companies_lst'].sum()))
pattern = re.compile('[\w\d]+\W*')
data['word_overview'] = data['overview'].apply(lambda x: len(pattern.findall(x)))
avg_word_overview = []
for prod in prod_comp_list:
    res = data[data['production_companies'].str.contains (prod, na=False)]['word_overview'].mean()
    avg_word_overview.append(res)
data25 = pd.DataFrame({'prod': prod_comp_list, 'avg': avg_word_overview}).sort_values('avg', ascending=False)
ans25 = data25.iloc[0][0]
ans25

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = '1. ' + str(ans26)

In [58]:
dict26 = [['Inside Out', 'The Dark Knight', '12 Years a Slave'], 
          ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'], 
          ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'], 
          ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
          ['Upside Down', 'Inside Out', 'Iron Man']]
data26 = data.sort_values('vote_average', ascending=False)
data26 = data26[:int((len(data26)*0.01))+1]
list_answer = data26['original_title'].to_list()
for i in dict26:
    flag = False
    for j in i:
        if j in list_answer:
            flag = True
        else: 
            flag = False
            break
    if flag == True:
        ans26 = i
ans26

['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [79]:
answers['27'] = '5. ' + str(ans27)

In [78]:
c = Counter()
for cast in data['cast_lst'].to_list():
    c += Counter(combinations(cast, 2))
ans27 = Counter(c).most_common()[0][0]
ans27

('Daniel Radcliffe', 'Rupert Grint')

ВАРИАНТ 2

In [84]:
data27 = pd.DataFrame()
dict_q = [['Johnny Depp', 'Helena Bonham Carter'],
          ['Hugh Jackman',  'Ian McKellen'],
          ['Vin Diesel',  'Paul Walker'],
          ['Adam Sandler',  'Kevin James'],
          ['Daniel Radcliffe',  'Rupert Grint']]
for i in dict_q:
    temp = data.loc[(data['cast'].str.contains (i[0], na=False))&(data['cast'].str.contains (i[1], na=False))]
    temp['double'] = str(i)
    data27 = pd.concat([data27, temp], sort = False)
double_list = list(data27['double'])
c = Counter()
for g in double_list:
    c[g] += 1
ans = Counter(c).most_common(1)[0][0]
ans

C:\Users\vyushmanov\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

"['Daniel Radcliffe', 'Rupert Grint']"

# Submission

In [80]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. September',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': "1. ['Inside Out', 'The Dark Knight', '12 Years a Slave']",
 '27': "5. ('Daniel Radcliffe', 'Rupert Grint')"}

In [81]:
# и убедиться что ни чего не пропустил)
len(answers)

27